.home-gallery {
  --text-relative-size: 2rem;
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .gallery-img-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    .gallery-bg {
      object-fit: cover;
      opacity: 0.75;
    }
  }
  .gallery-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    font-size: var(--text-relative-size);
    .gallery-span {
      font-size: 0.9em;
      text-shadow: 0 0 2px black, 0 0 4px black, 0 0 7.5px black;
      word-spacing: 15px;
      letter-spacing: 5px;
      text-align: center;
      font-family: var(--font-subheading);
      text-transform: uppercase;
    }
    .gallery-heading {
      font-size: 3em;
      text-shadow: 0 0 5px black, 0 0 10px black;
      margin-bottom: 4vh;
      text-align: center;
      font-family: var(--font-heading);
      text-transform: capitalize;
    }
  }
  @media only screen and (max-width: 900px) {
    --text-relative-size: 1.8rem;
  }
  @media only screen and (max-width: 450px) {
    --text-relative-size: 1.2rem;
    padding: 1em;
  }
}
