#home {
  @import "./carousel/carousel-container";
  @import "./home-about";
  @import "./home-choose";
  @import "./home-gallery";
  height: 600vh;
  width: 100%;
  font-family: var(--default-font);
}
