#footer {
  --grid-cols: 4;
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  padding: 7.5vh 3vw;
  background-color: #012a4a;
  .company-attributes {
    display: flex;
    flex-direction: column;
    & > .img-container {
      height: 150px;
      width: 150px;
    }
    .company-name {
      font-size: 3.4vw;
      padding: 1vh 0 2vh 1rem;
      color: var(--color-primary);
      font-weight: 500;
      font-family: var(--font-heading);
    }
    .company-desc {
      color: rgba(255, 255, 255, 0.8);
      padding: 0 0 5vh 1rem;
      width: 95%;
      line-height: 2.75vh;
      font-size: 1.2rem;
    }
  }
  .sitemap-links {
    border-left: 2px solid var(--color-accent);
    padding: 0vh 0 0 1rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    .site-links {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.2rem;
      line-height: 2.5rem;
      transition: var(--transition-default);
      width: fit-content;
      &:hover {
        color: var(--color-accent);
      }
    }
  }
  .text-links-container {
    padding: 0vh 0 0 1rem;
    justify-content: space-evenly;
    border-left: 2px solid var(--color-accent);
    display: flex;
    flex-direction: column;
    .text-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.2rem;
      line-height: 3rem;
      .helper-svg {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
      .helper-text {
        width: calc(90% - 2rem);
      }
      &:last-child {
        line-height: 1.75rem;
      }
      transition: var(--transition-default);
      &:hover {
        color: var(--color-accent);
      }
    }
  }
  .visual-links {
    border-left: 2px solid var(--color-accent);
    color: rgba(255, 255, 255, 0.8);
    @media only screen and (min-width: 1200px) {
      padding: 0vh 0 10vh 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .link-grid {
      margin-top: 2vh;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }
    .span-text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-subheading);
      font-size: 1.8rem;
      word-spacing: 15px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: var(--color-primary);
    }
    .link-svg {
      color: inherit;
      justify-self: center;
      svg {
        font-size: 2rem;
        align-self: center;
        transition: var(--transition-default);
        &:hover {
          fill: var(--color-accent);
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    --grid-cols: 2;
    row-gap: 4vh;
    .company-attributes {
      .company-name {
        font-size: 7.5vw;
      }
    }
    .text-links-container,
    .visual-links {
      position: relative;
      &::before {
        content: "";
        height: 2px;
        width: 95%;
        background-color: var(--color-accent);
        top: -2vh;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .text-links-container {
      border-left: none;
      padding-bottom: 8.5vh;
    }
  }
  @media only screen and (max-width: 600px) {
    --grid-cols: 1;
    .company-attributes {
      .company-name {
        font-size: 14.5vw;
        padding-bottom: 0;
      }
    }
    .sitemap-links,
    .visual-links {
      border-left: none;
    }
    .sitemap-links {
      position: relative;
      &::before {
        content: "";
        height: 2px;
        width: 95%;
        background-color: var(--color-accent);
        top: -2vh;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
