.carousel-container {
  .home-carousel {
    .carousel-slide {
      height: 90vh;
      width: 100%;
      position: relative;
      .slide-img-container {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        img {
          object-fit: cover;
        }
      }
    }
  }
}
