.carousel {
  --text-relative-size: 2rem;
  @import "./home-carousel";
  height: 100vh;
  width: 100%;
  box-shadow: -2.5px 0px 25px rgba(0, 0, 0, 0.85);
  overflow: hidden;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 0% 100%, 60% 0);
    background-color: var(--color-carousel-sheet);
    z-index: 1;
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(28% 0, 100% 0%, 100% 100%, 61% 100%);
    background-color: var(--color-carousel-sheet);
    z-index: 1;
  }
  .info-container {
    position: absolute;
    height: 40%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0 2.5vw;
    justify-content: center;
    align-items: flex-start;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    .slide-heading {
      display: flex;
      flex-direction: column;
      font-size: var(--text-relative-size);
      .slide-sub-heading {
        line-height: 0.9em;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.75), 0 0 10px rgba(0, 0, 0, 0.75);
        &._1 {
          font-size: 0.9em;
          text-transform: uppercase;
          word-spacing: 1em;
          letter-spacing: 0.4em;
          font-family: var(--font-subheading);
          font-weight: 600;
          color: var(--color-secondary);
        }
        &._2 {
          color: var(--color-primary);
          font-family: var(--font-heading);
          font-size: 4em;
          margin-bottom: 3vh;
        }
      }
    }
    .slide-cta {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;
    }
  }
  @media only screen and (max-width: 900px) {
    height: 80vh;
    --text-relative-size: 1.6rem;
  }
  @media only screen and (max-width: 600px) {
    --text-relative-size: 4vw;
    .info-container {
      left: 7.5px;
      padding: 0;
      .slide-cta {
        flex-direction: column;
        .default-btn {
          width: 200px;
          padding: 0.7rem 0;
        }
      }
    }
  }
}
