.service-info-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  .texts-wrapper {
    .text-container {
      &.inactive {
        height: 1px;
        width: 1px;
        opacity: 0;
        overflow: hidden;
      }
    }
  }
  .service-heading {
    font-size: 7rem;
    font-family: var(--font-heading);
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.6);
  }
  .service-desc {
    min-height: 200px;
    font-family: var(--font-default);
    color: var(--font-color);
    margin: 3vh 0 10vh 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 7.5px rgba(0, 0, 0, 0.8);
  }
  .services-cta {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    gap: 20px;
  }
  @media only screen and (max-width: 1200px) {
    width: 90%;
    text-align: center;
    align-items: center;
    .service-heading {
      font-size: 5.6rem;
    }
  }
  @media only screen and (max-width: 600px) {
    margin-top: 4vh;
    .service-heading {
      font-size: 15vw;
    }
    .service-desc {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-bottom: 4vh;
      text-align: justify;
    }
    .services-cta {
      flex-direction: column;
    }
  }
}
