* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.img-container {
  position: relative;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.default-btn {
  display: block;
  width: fit-content;
  background-color: var(--btn-color);
  padding: 0.75em 2em;
  text-decoration: none;
  color: var(--font-color);
  transition: var(--default-transition);
  border: 1px solid var(--btn-color);
}
