@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-color: white;
  --btn-color: var(--color-tetradic2);

  --soon-font: "Lilita One", cursive;

  --font-heading: "Cormorant Garamond", serif;
  --font-subheading: "Poppins", monospace;
  --font-default: "Rubik", sans-serif;

  --default-transition: all 0.3s ease;

  --color-primary: #4cb269;
  --color-secondary: #d57a66;
  --color-accent: #edc79b;

  --color-tetradic1: #012a4a;
  // --color-tetradic1: #013a63;
  --color-tetradic2: #b24c95;
  --color-tetradic3: #b29c4c;

  --color-carousel-sheet: rgba(255, 255, 255, 0.25);
  --header-height: 60px;
}
